* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: lato;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#sky {
    position: absolute;
    bottom: 30vh;
    /* z-index: 1; */
}


#background {
    position: absolute;
    bottom: 0vh;
    /* z-index: 2; */
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#box {
    z-index: 2;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 27.5vh;
    animation: box 2s linear infinite normal;
}

@keyframes box {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

#pow {
    position: absolute;
    top: 38vh;
    left: 45vw;
    width: 120px;
    height: 120px;
    z-index: 4;
    animation: pow 2s ease-in-out infinite normal;
}

@keyframes pow {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    62.5% {
        transform: scale(1);
    }

    75% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

#coin {
    z-index: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30vh;
}

#mario {
    width: 256px;
    height: 512px;
    position: absolute;
    top: 45vh;
    z-index: 3;
    animation: mario 2s linear infinite normal;
}

@keyframes mario {
    0% {
        top: 45vh;
    }

    25% {
        top: 43.5vh;
    }

    50% {
        top: 41.25vh;
    }

    75% {
        top: 43.5vh;
    }

    100% {
        top: 45vh;
    }
}

#marioShadow {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 15vh;
    z-index: 2;
    opacity: 0.15;
    animation: marioShadow 2s linear infinite normal;
}

@keyframes marioShadow {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(0.25);
    }

    75% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}


#koopa {
    z-index: 3;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 8vh;
    right: 8vw;
}

#koopaShadow {
    width: 100px;
    height: 25px;
    bottom: 8vh;
    right: 8.75vw;
    position: absolute;
    z-index: 2;
    opacity: 0.15;
}

#dacoFlying {
    z-index: 3;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 8vh;
    left: -5vw;
    animation: dacoFlying 2s linear infinite normal;
}

@keyframes dacoFlying {
    0% {
        transform: translate(-5vw, 8vh);
    }

    25% {
        transform: translate(12vw, 12vh);
    }

    50% {
        transform: translate(15vw, 15vh);
    }

    75% {
        transform: translate(12vw, 12vh);
    }

    100% {
        transform: translate(8vw, 8vh);
    }
}